body{
	background: #F4F4F5;
}
.notnav{
	width: 80%;
	margin: 0 auto;
}
nav{
	color: #BBB;
	background: #111;
	padding: 10px 5%;
}
nav a{
	color: inherit;
	text-decoration: inherit;
}
nav span{
	padding: 10px;
}
nav span:hover{
	color: #E4E4E4;
	padding-bottom: 6px;
	border-bottom: 5px #059 solid;
	background: #09C;
}
input[type=text]{
	border-radius: 4px;
	border: 1px #B3B3B3 solid;
	padding: 5px;
}
